

<div class="contenedorGlobal">

    <div class="titulo">
      <p routerLink="">B<span><br> Bio Beauty Care</span></p>
    </div>
    <div class="navbar">
    <ul>
    
        <li routerLink ="">Home</li>
        <li>Products
          <ul>
            <li routerLink="hombres">Hombre</li>
            <li routerLink="mujeres">Mujer</li>
            <li routerLink="otros">Otros</li>
          </ul>
        </li>
        <li routerLink="about">About Us</li>
        <li routerLink="contact">Contact</li>
    
    <li></li>
    <li class="fi-interface-user"></li>
        <li >Log In</li>
        <li class="fi-ecommerce-shopping-bag-2"></li>
      
    </ul>
    
    
    
    
    </div>
    
    
    </div>
    
    