.contenedor3{
    width: 75%;
    color: white;
    height: 50vh;
    background:#B49B7F;
 margin: auto;
 border-bottom: 1px solid rgba(255, 255, 255, 0.651);

    
}

.contenedorDeimagenes{
margin: 0px auto;
    width: 90%;
    height: 45%;
    /* background: blue; */
    display: flex;
}


.tarjeta3{
    margin-top: 20px;
    /* background: white; */
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
}
.tarjeta3>span{
    padding-left: 10px;
    margin: auto;
    color: white;
}
.tarjeta3 div{
    position: relative;
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: center;
}

.tarjeta3 div *{
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

    }
.tarjeta3 >div img{
    width: 90%;
    height: 32vh;
    z-index: 2;
    
    background:rgba(250, 247, 247, 0.568)
}

.tarjeta3 >div>span{
    
    z-index: 2;
    display: block;
    bottom: 0;
    width: 90%;
    height: 0%;
    text-align: center;
    background: black;
    opacity: .5;
    line-height: 50px;
    transition: 0.5s;

}

.tarjeta3 >div:hover span{
    height: 25%;
    transition: 0.5s;
}
