
<div class="contenedor3">
    <h1 style="margin-left: 40px;">Other</h1>

<div class="row">

    <div class="col-3"  *ngFor="let producto of productosOtros">
        <div (click)="GetIdToChangeScreen(producto.id)" class="tarjeta">

            <div>
                <img [src]="producto.img" alt=""> 
               
                <span>Mostrar detalles</span>
            </div>
            <span>{{producto.product}}</span>
            <span>${{producto.price}}</span>
        </div>
    </div>
    
</div>
</div>
