

<div class="contenedor fadeIn" >
    <p class="en">Home/Producto</p>
    <div class="contenedorimg" > 
      <img [src]="producto.img" alt="" />
    </div>
    <div class="detalles2">
      <p >{{producto.product}}</p>
      <p>SKU: <span style="font-size: 10px;">00{{producto.id}}</span></p>
      <p>
        <span style="font-weight: bold; color: black; font-size: 20px;"></span
        >
      </p>
    <p style="margin-top: 15px;">
        Cantidad
      </p>
      <input id="ca" type="number" class="form-control n" max="99" min="1" value="1" />
  
      <button class="btn btn-success n2 mt-4">Agregar al carrito</button>
  
      <div class="descripcion">
        <span class="tit">CARACTERISTICAS DEL PRODUCTO</span> {{producto.description}}<br>
      </div>
    </div>
  </div>
  <app-footer2></app-footer2>
  