

<div class="contenedor fadeIn" >
    <p class="en">Home/Producto</p>
    <div class="contenedorimg" > 
      <img [src]="" alt="" />
    </div>
    <div class="detalles2">
      <p >Jabon</p>
      <p>SKU: <span style="font-size: 10px;">0021</span></p>
      <p>
        <span style="font-weight: bold; color: black; font-size: 20px;"></span
        >
      </p>
      <p >color:<span style="font-weight: bold; color: black;"></span> </p>
      <p>Selecciona modelo</p>
  
      <select name="" id="medidas" class="form-control n2">
    
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
      </select>
  
      <p style="margin-top: 15px;">
        Cantidad
      </p>
      <input id="ca" type="number" class="form-control n" max="99" min="1" value="1" />
  
      <button class="btn btn-success n2 mt-4">Agregar al carrito</button>
  
      <div class="descripcion">
        <span class="tit">CARACTERISTICAS DEL PRODUCTO</span> <br>
      </div>
    </div>
  </div>
  