/* .contenedor{
    width: 75%;
    color: white;
    height: 100vh;
    background:#B49B7F;
 margin: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.651);
    
} */

/* .en{

    transform: translate(135px,25px);
    display: table-caption;
}
.contenedor {
    background: #B49B7F;
    width: 75%;
    height: 100%;
    /* margin: auto; */
    /* margin-top: 10px; */
/* } */
/* .contenedorimg{
    margin-top: 15px;
    width: 40%;
    height: 68vh;
    margin-bottom:30%;
    background: #E2E2E3;
    display: inline-block;
    transform: translate(135px,0px);
} */ 
/* .contenedorimg img{
    display: flex;
    margin: auto;
    
    width: 90%;
    height: 100%;
}

.descripcion{
    margin-top: 15px;
    width: 100%;
    height: 24vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

} */


/* .detalles{
    height: 30vh;
}
.detalles2{
    color: white;
    width: 30%;
    height: 100vh;
    float:right;
    transform: translate(-100px, 15px);

} */
/* .detalles2 p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:30px;
    color: white;
    display: inline-block;
}
.tit{
    color: white;
    font-weight: bolder;
} */
/* #ca{
    width: 20%;
    height: 7%;
} */