
<div class="contenedor">


    <div id="" class="carousel slide carrusel" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./../../../assets/img/cda177_57c71b737d3d4237a174c0d525127d21.webp" class="" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/img/cda177_82bccef6d7fc4f629dfa06e6d4c2484f.webp" class="" alt="...">
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/img/cda177_a3ea143429114091b78f667c07c2e7a0.webp" class="" alt="...">
          </div>
        </div>
      </div>
      <img src="./../../../assets/img/cda177_3eed2368a5214fb38ee3f58be63c0c1f.webp" class="imgchica" alt="...">







      <div class="circulo">
<p>Treat yourself <br>
    <span>Daily!</span></p>

      </div>
</div>